article * {
    @apply font-spectral;
    text-transform: none;
}

article :is(h1) {
    @apply w-full mb-6 border-b-black border-b-2;
    font-size: 2.7rem;
}

article :is(h2) {
    @apply mt-8;
    font-size: 2.3rem;
}

article :is(p, pre, ul) {
    @apply mt-4 mb-4;
}

article :is(pre > code) {
    overflow: unset !important;
}

article :is(pre) {
    @apply overflow-x-auto;
}

article :is(a) {
    @apply underline;
}

article code, article code * {
    @apply mb-0 font-mono;
    font-size: 1rem;
}
