@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'bitmirror';
	src: url('/font/bitmirror.woff2') format('woff2'),
		 url('/font/bitmirror.woff') format('woff'),
		 url("/font/bitmirror.ttf") format("truetype"),
		 url("/font/bitmirror.eot?") format("eot");
	font-weight: normal;
	font-display: swap;
}

* {
	@apply font-main;
}

body {
	@apply bg-white text-black lowercase;
}

footer {
	background: url('img/footer/Foreground.png') repeat-x bottom,
			    url('img/footer/Background.png') repeat-x bottom;
	background-size: auto 16rem, 
					 auto 16rem;
	image-rendering: pixelated
}

footer td {
	transition: transform 0.1s steps(2, end);
}

footer td:hover, footer td:focus-within {
	transform: translateX(6px);
}

svg.svgline * {
	@apply animate-scroll;
}

p {
	@apply text-s text-justify md:text-left;
}

.styling {
	@apply absolute hidden md:block text-s text-gray fill-gray stroke-gray -translate-x-1/2;
}

.title {
	@apply text-center px-5;
}

.content {
	@apply relative py-10 pl-6 md:pl-36 pr-6 md:pr-24;
}