@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'bitmirror';
	src: url('/font/bitmirror.woff2') format('woff2'),
		 url('/font/bitmirror.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@layer components {
	
}

* {
	@apply font-main;
}

body {
	@apply bg-white text-black lowercase;
}

svg.svgline * {
	@apply animate-scroll;
}

p {
	@apply text-s text-justify md:text-left;
}

.styling {
	@apply absolute hidden md:block text-s text-gray fill-gray stroke-gray -translate-x-1/2;
}

.title {
	@apply text-center px-5;
}

.content {
	@apply relative py-10 pl-6 md:pl-36 pr-6 md:pr-24;
}